# SPDX-FileCopyrightText: 2021 Carnegie Mellon University
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Run roscore master node
PartOf=busedge_launch_all.service
After=busedge_launch_all.service

[Service]
Type=simple
ExecStart=/home/albert/gabriel-BusEdge/client/scripts/run_on_bus/run_roscore.sh
# Restart the service on non-zero exit code when terminated by a signal other than SIGHUP, SIGINT, SIGTERM or SIGPIPE
Restart=on-failure
RestartSec=1


[Install]
WantedBy=busedge_launch_all.service
