<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2021 Carnegie Mellon University

SPDX-License-Identifier: Apache-2.0
-->
<launch>
   <node name="rosbag_record_test" pkg="rosbag" type="record" output="screen"
         args="-o /home/albert/RECORDS/test -b 10240 --split --size=1024 --max-splits 2 \
               -e '/camera(.*)/image_raw/compressed|/camera(.*)/camera_info|/fix|/acceleration'"/>
</launch>
